<div class="container">
  <div class="card w-50 mx-auto">
    <div class="card-header text-center">
      <div class="card-title">Ingresar</div>
    </div>
    <form [formGroup]="loginForm">
      <div class="card-body">
        <div class="form-group">
          <label for="correo">Usuario</label>
          <input
            id="correo"
            formControlName="correo"
            class="form-control"
            type="text"
          />
        </div>
        <div class="form-group">
          <label for="password">Contraseña</label>
          <input
            id="password"
            formControlName="password"
            class="form-control"
            type="password"
          />
        </div>
        <div class="d-flex mt-3 px-5 spacio">
          <button (click)="login()" class="btn btn-success">Ingresar</button>
          <button class="btn btn-warning">Limpiar</button>
        </div>
      </div>
    </form>
  </div>
</div>
