<div class="container">
  <div class="row">
    <div class="col-12 col-md-6 mb-3">
      <h4>Nosotros:</h4>
      <p>
        Pet Education System es una empresa que se dedica a enseñar a sus
        usuarios las necesidades que las mascotas no tradicionales tienen, como
        su alimentación básica, tipo de ambiente, su higiene, como educarlos, su
        ciclo sexual y esterilización, etc.
      </p>
    </div>
    <div class="col-12 col-md-6 mb-3 text-center">
      <img
        class="imagenBanner"
        src="/assets/fotos/nosotros/nosotrosBanner.png"
        alt=""
      />
    </div>
    <div class="col-12 col-md-6 mb-3 pl-4">
      <h4>Nuestra Visión:</h4>
      <p>
        Nuestra visión es ser la empresa que brinde información sobre el cuidado
        de animales peculiares más reconocida del Perú y contar con la confianza
        de los dueños de estas mascotas.
      </p>
    </div>
    <div class="col-12 col-md-6 mb-3 text-center">
      <img
        class="imagenBanner"
        src="/assets/fotos/nosotros/bannerBuho.png"
        alt=""
      />
    </div>
    <div class="col-12 col-md-6 mb-3 pl-4">
      <h4>Nuestra Misión:</h4>
      <p>
        Nuestra misión es informar a todos los dueños de mascotas pecualiares
        sobre los cuidados que sus animalitos requieren y asi poder darles una
        mejor calidad de vida.
      </p>
    </div>
    <div class="col-12 col-md-6 mb-3 text-center">
      <img
        class="imagenBanner"
        src="/assets/fotos/nosotros/polloBanner.png"
        alt=""
      />
    </div>
  </div>
</div>
