<div class="row p-0 px-5 mx-0">
  <div class="col-12 col-md-6 text-center p-0 px-3">
    <img
      class="banner"
      src="/assets/fotos/veterinaria/veterinaria-1.png"
      alt=""
    />
  </div>
  <div class="col-12 col-md-6 p-0 px-3">
    <div class="card bg-transparent border-0">
      <div class="card-header bg-transparent">
        <h5 class="title-header text-center">
          Aprende sobre el cuidado y anatomia de las mascotas exóticas
        </h5>
      </div>
      <div class="card-body bg-white redondo">
        <p>
          Podrás aprender sobre el cuidado adecuado de mascotas exoticas:
          Farmacologia: Aprenderas como interactúa el fármaco con el organismo,
          sus acciones, efectos y propiedades de los animales Antomia:
          Aprenderas sobre la estructura del cuerpo de los aniamles. Fisiologia:
          Aprenderas sobre conocer y analizar las funciones de los animales.
        </p>
      </div>
    </div>
  </div>
  <div class="col-12 col-md-6 p-0 px-3">
    <div class="card bg-transparent border-0">
      <div class="card-header bg-transparent">
        <h5 class="title-header text-center">
          Conoce a nuevos proveedores de accesorios para mascotas
        </h5>
      </div>
      <div class="card-body bg-white redondo">
        <p>
          Podras encontrar a nuevos proveedores que vendan accesorios a mascotas
          exoticas. Te proprocionaremos informacion basica de los proveedores,
          donde se ubican y como contactarlos. Los poveedores que encontraras
          son: -Proveedores de juguetes. -Proveedores de accesorios de higiene.
          -Proveedores de camas. -Etc.
        </p>
      </div>
    </div>
  </div>
  <div class="col-12 col-md-6 text-center p-0 px-3">
    <img
      class="banner"
      src="/assets/fotos/veterinaria/veterinaria-2.png"
      alt=""
    />
  </div>
  <div class="col-12 col-md-6 text-center p-0 px-3">
    <img
      class="banner"
      src="/assets/fotos/veterinaria/veterinaria-3.png"
      alt=""
    />
  </div>
  <div class="col-12 col-md-6 p-0 px-3">
    <div class="card bg-transparent border-0">
      <div class="card-header bg-transparent">
        <h5 class="title-header text-center">
          Haz conocer tu veterinaria en nuestro aplicativo
        </h5>
      </div>
      <div class="card-body bg-white redondo">
        <p>
          Podrás proporcionas información básica de tu veterinaria y mostrar la
          ubicación exacta de donde se encuentra en el mapa, lo cual aparecerá
          en nuestro aplicativo para los dueños de mascotas exóticas.
        </p>
      </div>
    </div>
  </div>
</div>
<app-footer></app-footer>
