<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid contenedorFle">
    <div class="navbar-brand">
      <img src="/assets/iconoHeader.png" alt="" />
      <img src="/assets/title.png" alt="" />
    </div>
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mx-auto mb-2 mb-lg-0">
        <li class="nav-item mx-2">
          <a class="nav-link text-center" (click)="inicio()">Inicio</a>
        </li>
        <li class="nav-item mx-2">
          <a class="nav-link text-center" (click)="nosotros()">Nosotros</a>
        </li>
        <li class="nav-item mx-2">
          <a class="nav-link text-center" (click)="mascotas()">Mascotas</a>
        </li>
        <li class="nav-item mx-2">
          <a class="nav-link text-center" (click)="veterinarias()">
            Veterinarios
          </a>
        </li>
        <li *ngIf="user !== ''" (click)="modify()" class="nav-item mx-2">
          <a class="nav-link text-center">Modificar Data</a>
        </li>
        <li class="nav-item mx-2">
          <a class="nav-link text-center" (click)="contacto()">Contáctanos</a>
        </li>
        <li *ngIf="user === ''" (click)="login()" class="nav-item mx-2">
          <a class="nav-link mx-auto text-center btn-option">Ingresar</a>
        </li>
        <li *ngIf="user === ''" class="nav-item mx-2">
          <button class="nav-link mx-auto text-center btn-option">
            Registrar
          </button>
        </li>
        <li class="nav-item mx-2 text-center" *ngIf="user !== ''">
          <a class="nav-link mx-auto">Usuario: {{ user }}</a>
        </li>
        <li
          (click)="logout()"
          class="nav-item mx-2 text-center"
          *ngIf="user !== ''"
        >
          <a class="nav-link mx-auto btn btn-danger">Salir</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
